<mat-card>
  <mat-card-header class="title-center">
    <mat-card-title>Function Key {{ functionKeyNumber }}</mat-card-title>
  </mat-card-header>

  <form [formGroup]="functionKeyForm" (ngSubmit)="onSubmit()">
    <div class="flex-container">
      <!-- Type -->
      <div class="flex-item">
        <mat-label>Type: </mat-label>
        <br>
        <mat-form-field>
          <mat-select formControlName="fktype" (selectionChange)="typeChanged($event.value)">
            <mat-option [value]=1>None</mat-option>
            <mat-option [value]=2>IN</mat-option>
            <mat-option [value]=3>OUT</mat-option>
            <mat-option [value]=4>Swipe and Go and Level 3</mat-option>
            <mat-option [value]=5>Level 1</mat-option>
            <mat-option [value]=6>Level 2</mat-option>
            <mat-option [value]=7>Level 3</mat-option>
            <mat-option [value]=8>Level 1 and 2</mat-option>
            <mat-option [value]=9>Level 1 and 3</mat-option>
            <mat-option [value]=10>Level 2 and 3</mat-option>
            <mat-option [value]=11>Level 1 2 and 3</mat-option>
            <mat-option [value]=12>Break Start</mat-option>
            <mat-option [value]=13>Break End</mat-option>
            <mat-option [value]=14>Lunch Start</mat-option>
            <mat-option [value]=15>Lunch End</mat-option>
            <mat-option [value]=16>Hour Entry</mat-option>
            <mat-option [value]=17>Amount Entry</mat-option>
            <mat-option [value]=18>View Last Punch</mat-option>
            <mat-option [value]=19>View Total Hours</mat-option>
            <mat-option [value]=20>Calculated Pay Code</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="flex-container">
      <!-- Function Key Caption -->
      <div class="flex-item">
        <mat-label>Function Key Caption: </mat-label>
        <br>
        <mat-form-field>
          <input matInput formControlName="caption">
        </mat-form-field>
        <div *ngIf="(functionKeyForm.controls['caption'].dirty || functionKeyForm.controls['caption'].touched)">
          <div *ngIf="functionKeyForm.controls['caption'].errors?.['required']">
            <mat-error>Function Key Caption is required.</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container">
      <!-- Message #1 -->
      <div class="flex-item">
        <mat-label>Message #1: </mat-label>
        <br>
        <mat-form-field>
          <input matInput formControlName="msg1">
        </mat-form-field>
        <div *ngIf="(functionKeyForm.controls['msg1'].dirty || functionKeyForm.controls['msg1'].touched)">
          <div *ngIf="functionKeyForm.controls['msg1'].errors?.['required']">
            <mat-error>Message #1 is required.</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container">
      <!-- Message #2 -->
      <div class="flex-item">
        <mat-label>Message #2: </mat-label>
        <br>
        <mat-form-field>
          <input matInput formControlName="msg2">
        </mat-form-field>
        <div *ngIf="(functionKeyForm.controls['msg2'].dirty || functionKeyForm.controls['msg2'].touched)">
          <div *ngIf="functionKeyForm.controls['msg2'].errors?.['required']">
            <mat-error>Message #2 is required.</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container">
      <!-- Message #3 -->
      <div class="flex-item">
        <mat-label>Message #3: </mat-label>
        <br>
        <mat-form-field>
          <input matInput formControlName="msg3">
        </mat-form-field>
        <div *ngIf="(functionKeyForm.controls['msg3'].dirty || functionKeyForm.controls['msg3'].touched)">
          <div *ngIf="functionKeyForm.controls['msg3'].errors?.['required']">
            <mat-error>Message #3 is required.</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container">
      <!-- Pay Code -->
      <div class="flex-item">
        <mat-label>Pay Code: </mat-label>
        <br>
        <mat-form-field class="paycode">
          <input matInput formControlName="PC">
        </mat-form-field>
        <button
          [disabled]="payCodeSearchDisabled"
          mat-icon-button color="primary"
          type="button"
          (click)="openPayCodeDialog()"
          aria-label="Pay Code Search">
          <mat-icon>search</mat-icon>
        </button>
        <div *ngIf="(functionKeyForm.controls['PC'].dirty || functionKeyForm.controls['PC'].touched)">
          <div *ngIf="functionKeyForm.controls['PC'].errors?.['required']">
            <mat-error>Pay Code is required.</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div class="submit-button">
      <button
        mat-raised-button
        type="submit"
        color="primary">
        Submit
      </button>
    </div>

  </form>
</mat-card>
